
@media (max-width:699px){
 .resume {
   width: 100%
}   
}

@media (min-width: 700px) and (max-width:849px){
 .resume {
   width: 700px;
}

hr.divider {
    width: 600px;
    margin-bottom: 25px;
}
.main-header {
    font-size: 30px;
    text-align: center;
    padding-top: 35px;
    margin-bottom: -5px;
    letter-spacing: 0.85px;
}
.resume-content {
    margin: 0px 60px;
}
.heading {
    font-size: 21px;
    margin-bottom: 2px;
}
.subHeading {
    margin-bottom: 2px;
}
.date {
    font-size: 15px;
}
}



@media (min-width: 851px){
.resume {
    width: 850px;
    padding-bottom: 20px;
}
hr.divider {
    width: 700px;
}
.main-header {
    font-size: 36px;
    text-align: center;
    padding-top: 35px;
    margin-bottom: -5px;
    letter-spacing: .85px;
}
.first-colomn {
    float: left;
    width: 185px;
    margin-left: 85px;
}
.second-column {
    float: right;
    width: 467px;
    padding-right: 75px;
}
.resume-content {
    margin-top: 16px;
}
.heading {
    font-size: 21px;
}
}


.main-header, .heading {
    font-family: "Montserrat";
}
.details, .second-colomn-content{
    font-family:"Cardo";
}

.resume {
    margin: 0 auto;
    background:#fff;
}



body {
    background: #f1f1f1;
}



.resume-content {
    overflow: auto;
}
hr.divider {
    border-top: 1px solid #000;
}
.first-colomn ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 2px;
}

.first-colomn li {
    font-size: 16px;
}

.title {
    float: left;
}

.date {
    float: right;
}
.subHeading {
    overflow: auto;
}
.second-column .details ul {
    padding-left: 20px;
    margin-top: 2px;
    font-size: 14px;
}

em.company {
    font-style: normal;
}

.linkImages {
    height: 35px;
}

.linkContent {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.linkContent li {
    margin-top: 4px;
}

.links .details {
    margin-top: 5px;
}
